body {
	width: 70%;
	margin: 0 auto;
	font-family: "Verdana", sans-serif;
	
}


#nav {
	width: 100%;
}
#nav li {
	display: inline;
	padding: 2%;
	
}

#mainImg {
	width: 100%;
}

#nav li:hover  {
	padding-bottom: 2%;
	padding-top: 2%;
	background: #E3CDA4;
	
}
#nav ul {
	position: relative;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
	border: 1px solid #ccc;
}

#nav li a {
	text-decoration: none;
	color: #7E827A;
}

.screenshots img {
	width: 40%;
	padding: 5px;
} 


h1 {
	text-align: center;
}

#morris img {
	float: left;
	padding: 2%; 
}

#hobbies li {
	list-style-type: none;
}

#hobbies li p {
	padding-left: 4%; 
}
